html{
	position:  relative;
}




.jumbotron{
	padding-top: 7rem;
	background-color: #e2edff;

}


#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
  padding: 10px;
}



#ContactMe{
	padding-top: 4rem;
	background-color:  #e2edff;
}


#Pendidikan{
	padding-top: 1rem;
	background-color:  #e2edff;
}

#JadwalKuliah{
	padding-top: 1rem;
	background-color:  #e2edff;
}

#aktivitas{
	padding-top: 1rem;
	background-color:  #e2edff;
}

#portofolio{
	padding-top: 1rem;
	background-color:  #e2edff;
}




/*--------------------------------------------------------------
# Tabel
--------------------------------------------------------------*/

.content-table {
	  		border-collapse: collapse;
	  		margin: 25px 0;
	  		font-size: 0.9em;
	  		min-width: 400px;
	  		border-radius: 5px 5px 0 0 ;
	  	}

	  	.content-table thead tr {
	  		background-color: #009879;
	  		color: #ffffff;
	  		text-align: left ;
	  		font-weight: bold;
	  		overflow: hidden;
	  		box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
	  	}

	  	.content-table th,
	  	.content-table td {
	  		padding: 12px 15px;
	  	}
	  	.content-table tbody tr{
	  		border-bottom: 1px solid #000000;
	  	}

	  	.content-table tbody tr:nth-of-type(even) {
	  		background-color: #cbecce ;
	  	}

	  	.content-table tbody tr:last-of-type{
	  		border-bottom: 2px solid #009879;
	  	}

	  	.content-table tbody tr.active-row {
	  		font-weight: bold;
	  		color: #009879 ;
	  	}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background-color:  #e2edff;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}